/.ipynb_checkpoints
/01_04
/01_05_JupyterNotebook.ipynb
/02_01_Basic_Data_Types.ipynb
/02_02_Data_Structures.ipynb
/02_03_Operators.ipynb
/02_04_ControlFlow.ipynb
/02_05_Functions.ipynb
/02_06_Classes_and_Instances.ipynb
/02_07_Challenge_Hints.ipynb
/03_01_Ints_and_Floats.ipynb
/03_02_Other_Numbers.ipynb
/03_03_Booleans.ipynb
/03_04_Strings.ipynb
/03_05_bytes.ipynb
/03_06_Challenge_Hints.ipynb
/04_01_lists.ipynb
/04_02_Tuples_and_sets.ipynb
/04_03_Dictionaries.ipynb
/04_04_List_Comprehensions.ipynb
/04_05_Dictionary_Comprehensions.ipynb
/04_06_Challenge_Hint.ipynb
/05_01_IfElseIfelse.ipynb
/05_02_while.ipynb
/05_03_ForLoops.ipynb
/05_04_Challenge.ipynb
/05_04_Challenge_Hints.ipynb
/06_01_AnatomyOfAFunction.ipynb
/06_02_VariablesAndScope.ipynb
/06_03_VariablesAsFunctions.ipynb
/06_04_Challenge_Hints.ipynb
/07_01_AnatomyOfAClass.ipynb
/07_02_StaticMethods.ipynb
/07_03_ClassInheritance.ipynb
/07_04_Challenge_Hints.ipynb
/08_01_Errors_and_Exceptions.ipynb
/08_02_HandlingExceptions.ipynb
/08_03_CustomExceptions.ipynb
/08_04_Challenge_Hints.ipynb
/09_02_threads.ipynb
/09_03_Processes.ipynb
/10_01_file.txt
/10_01_opening_reading_writing_files.ipynb
/10_02_CSV.ipynb
/10_02_ma_prime.csv
/10_02_us.csv
/10_03_json.ipynb
/10_04_Challenge_Hints.ipynb
/11_02_b
/11_02_e
/11_1_writefile.py
/solution_file.json
/somefile.txt